<a href="https://colab.research.google.com/github/watcharapornn/KKU_data_mining/blob/master/Pandas%20101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Method 2.1 (raplace with unknown value

##Method 3

###เติมค่าที่ป

In [ ]:
new_table=w_restaurant_df[['name','city_name','avg_price']]
new_table

#[PD] select data

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region']

In [ ]:
selected_list=new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

In [ ]:
selected_list=new_table['city_name']=='khon Kaen'
selected_list

In [ ]:
new_table[selected_list].head()

##หาราคาเฉลี่ยของร้านในกรุงเทพเท่ากับกี่บาท

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean() 
#.mean()=หาค่าเฉลี่ย
#สร้างตาราางขึ้นมาใหม่new_table และเลือกที่ตาราง city_name

In [ ]:
bkk_table=new_table['city_name']=='Bangkok Metropolitan Region'
bkk_table.head()

2. ลบ missing

In [ ]:
bkk_table_dp=bkk_table.dropna()
bkk_table_dp.head()

3.เลือกเฉพาะคอลัมน์ที่ต้องการ column 'avg_price'

In [ ]:
bkk_table_dp_avg_price=bkk_table_dp['avg_price']
bkk_table_dp_avg_price

4.ค่าเฉลี่ย

In [ ]:
bkk_table_dp_avg_price.mean()

#แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [ ]:
bkk_table[['avg_price']]=bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

implace คือ ไม่จำเป็นต้องสร้างตารางใหม่มา มันสามารถอัพเดตตารางให้เราได้เลย

In [ ]:
bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean(),inplace=True)
bkk_table.head()

##Ex9 หาราคาเฉลี่ยของร้านในเชียงใหม่

In [ ]:
ch_table=new_tanle[new_table['city_name']=='Chiang Mai'].dropna()

In [ ]:
ch_table=new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()

NameError: ignored

In [ ]:
ch_table=new_table[]

#[PD]ต่อตารางในแนแกนY (เพิ่มจำนวน Data) 
##ใช้คำสั่ง pd.concat

In [ ]:
pd_concat = pd_concat([bkk_table,cm_table])
pd_concat

#1.ดึงจังหวัดที่มีทั้งหมดในตารางออกมา

In [1]:
all_cities = set(new_table['city_name'])
len(all_cities)

NameError: ignored

##1.คำนวณค่าmean ของ

3.สร้าง list ของตารางของทุกๆจังหวัด

In [6]:
all_cities_list = []
for each_city in list(all_cities):

    temp_table = new_table[naw_table['city_name']==each_city]
    temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
    all_cities_list.append(temp_table)

NameError: ignored

#4.สร้างตารางจาก list ตาราง ด้วย pd.concat

In [ ]:
all_no_missing = pandas.concat