<a href="https://colab.research.google.com/github/watcharapornn/KKU_data_mining/blob/master/Pandas%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Method 2.1 (raplace with unknown value

##Method 3

###เติมค่าที่ป

In [ ]:
new_table=w_restaurant_df[['name','city_name','avg_price']]
new_table

#[PD] select data

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region']

In [ ]:
selected_list=new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

In [ ]:
selected_list=new_table['city_name']=='khon Kaen'
selected_list

In [ ]:
new_table[selected_list].head()

##หาราคาเฉลี่ยของร้านในกรุงเทพเท่ากับกี่บาท

In [ ]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean() 
#.mean()=หาค่าเฉลี่ย
#สร้างตาราางขึ้นมาใหม่new_table และเลือกที่ตาราง city_name

In [ ]:
bkk_table=new_table['city_name']=='Bangkok Metropolitan Region'
bkk_table.head()

2. ลบ missing

In [ ]:
bkk_table_dp=bkk_table.dropna()
bkk_table_dp.head()

3.เลือกเฉพาะคอลัมน์ที่ต้องการ column 'avg_price'

In [ ]:
bkk_table_dp_avg_price=bkk_table_dp['avg_price']
bkk_table_dp_avg_price

4.ค่าเฉลี่ย

In [ ]:
bkk_table_dp_avg_price.mean()

##Ex9 หาราคาเฉลี่ยของร้านในเชียงใหม่

In [ ]:
new_table[new_table['city_name']=='Chiang Mai'].dropna()['avg_price'].mean()