<a href="https://colab.research.google.com/github/watcharapornn/KKU_data_mining/blob/master/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

In [3]:
path = '/content/drive/My Drive/Mining_project'

In [4]:
import pandas as pd

In [5]:
file_path = os.path.join(path,'PJ.csv')
print(file_path)

/content/drive/My Drive/Mining_project/PJ.csv

In [6]:
pd.read_csv(file_path).head()

  Office of Agricultural Economics I Products Agricultural Corn Animal\nAgricultural products  ...  Unnamed: 5
0  Products Corn  Raise Animals Separate By Provi...                                           ...         NaN
1                                           Province                                           ...  \nRainfall
2                                         Phetchabun                                           ...         NaN
3                                  Nakhon Ratcharima                                           ...         NaN
4                                                Nan                                           ...         NaN

[5 rows x 6 columns]